<%- model_class = Join -%>
<div class="page-header">
  <h1>参加フォーム</h1>
</div>
<table class="jo" height="100">
<tr>
<td>ユーザー名 : <%= current_user.name %></td>
</tr>
<tr>
<%#= binding.pry %>
<td>イベント名 : <%= $event.title %></td>
</tr>
</table>
<%= render :partial => 'form' %>
