
.row-fluid .span3{
    float: right;
}

.container-fluid footer{
	float: right;
}

.well{
	padding-bottom: 400px;
}

.jo{
	margin-left: 90px;
	margin-bottom: 14px;
}

dt, dd {
	line-height: 40px;
}

h4 {
	font-size: 14px;
}

.span3 li {
	padding: 12px;
}

