
.row-fluid .span4 {
    float: right;
}

.container-fluid footer{
	float: right;
}

.well{
	padding-bottom: 400px;
}

.jo{
	margin-left: 90px;
	margin-bottom: 14px;
}

dt, dd {
	line-height: 40px;
}

h4 {
	font-size: 14px;
}

.span4 li {
	padding: 12px;
}

.row-fluid{
	margin-left: auto
}
.row-fluid .span12{
	margin-left: 0;
}

.row-fluid .span6{
	margin-left: 0;
	margin-bottom: 30px;
}
