<%- model_class = User -%>
<div class="page-header">
  <h1>マイページ</h1>
</div>

<dl class="dl-horizontal">
  <dt><strong>ユーザー名　:</strong></dt>
  <dd><%= @user.name %></dd>
  <dt><strong>参加するイベント　:</strong></dt>
  <% $joins.each do |join| %>
    <% if join.name == current_user.name %>
    <dd><%= join.title %></dd>
    <% else %>
    <% end %>
  <% end %>
</dl>

